@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to @ViewBag.CityName</h1>
    <h2>Deployed to @ViewBag.Region</h2>
    <h2>Configured FQDN @ViewBag.ConfiguredFqdn</h2>
    <h2>Actual FQDN @ViewBag.ActualFqdn</h2>
</div>
