
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>You are not authorized for access to @ViewBag.CityName</h1>
    <h2>Deployed to @ViewBag.Region</h2>
    <h2>Configured FQDN @ViewBag.ConfiguredFqdn</h2>
    <h2>Actual FQDN @ViewBag.ActualFqdn</h2>
</div>